body {
    font-family: 'Courier New', monospace;
    background-color: darkolivegreen;
    margin-top: 20px;
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-left {
   text-align: left;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #777;
    border-radius: 25px;
    float: left;
    width: auto;
    background-color: #000;
  }

  div.gallery-info {
    margin: 5px;
    border: 1px solid #777;
    border-radius: 25px;
    float: left;
    width: auto;
    position: fixed;
    left: 64%;
    background-color: #000;
  }

  div.gallery-info img {
    padding-inline-end: 15px;
    width: 90%;
    height: auto;
    padding-left: 20px;
    padding-inline-end: 50px;
    padding-top: 30px;  
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    padding-inline-end: 15px;
    width: 90%;
    height: auto;
    padding: 17px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #000;
    border: 1px solid #777;
    border-radius: 25px;
    
  }

  div.content {
    padding-left: 30%;
    box-sizing: border-box;
  }

  div.container {
    text-align: center;
    background-color: lightgrey;
    color: black;
    width: 800px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    position: fixed; /* or absolute */
    top: 62%;
    left: 43%; /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

div.payment{
  text-align: center;
  background-color: lightgrey;
  color: black;
  width: 400px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  position: fixed; /* or absolute */
  top: 65%;
  left: 75%; /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }

  /* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 10%;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    border-radius: 25px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  /* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #04AA6D; /* Green */
    color: #000;
  }

  .button1 {background-color: #04AA6D;}
  .button1:hover {background-color: white}

  .button2 {background-color: #008CBA;}
  .button2:hover {background-color: white}

  .b1{
    padding-left: 37%;
    font-size: 25px;
  }

